/****************************
 * slide-fade-top-bottom
 ****************************/

.slide-fade-top-bottom-enter-from {
    transform: translateY(-30px);
    opacity: 0;
}

.slide-fade-top-bottom-enter-to {
    transform: translateY(0);
    opacity: 1;
}

.slide-fade-top-bottom-enter-active {
    transition: all 0.3s ease;
    transition-delay: 0.05s;
}

.slide-fade-top-bottom-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.slide-fade-top-bottom-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

.slide-fade-top-bottom-leave-active {
    position: absolute;
    transition: all 0.3s ease;
}

.slide-fade-top-bottom-move {
    transition: all 0.2s ease;
}
