.text-primary {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 64px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
}

.regular-subtitle-1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
