@import 'colors/variables';

.text-primary {
    background: $background-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-nowrap {
    white-space: nowrap;
}

.text-success {
    color: $success;
}

.text-info {
    color: $info;
}

h1 {
    font-size: 64px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
}

.regular-subtitle-1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.regular-subtitle-2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.regular-body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.regular-caption-1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
