@import 'variables';

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Poppins', sans-serif;
    background: $app-background;
    color: $app-color;

    body {
        margin: 0;
        padding: 0;
    }
}
