@mixin shape-round {
    &.--shape-round {
        &.--size-lg {
            border-radius: 1.5rem;
        }

        &.--size-md {
            border-radius: 1.25rem;
        }

        &.--size-sm {
            border-radius: 1rem;
        }

        &.--size-xs {
            border-radius: 0.8125rem;
        }
    }
}
