$spacings: (
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
);

$directions: ('t', 'r', 'b', 'l', 'x', 'y', 'a');

$types: ('p', 'm');

@mixin spacings {
    @each $type in $types {
        @each $direction in $directions {
            @each $key, $value in $spacings {
                .#{$type}#{$direction}-#{$key} {
                    // paddings
                    @if $type == 'p' {
                        // pt-[0-12]
                        @if $direction == 't' {
                            padding-top: $value !important;
                        }
                        // pr-[0-12]
                        @else if $direction == 'r' {
                            padding-right: $value !important;
                        }
                        // pb-[0-12]
                        @else if $direction == 'b' {
                            padding-bottom: $value !important;
                        }
                        // pl-[0-12]
                        @else if $direction == 'l' {
                            padding-left: $value !important;
                        }
                        // px-[0-12]
                        @else if $direction == 'x' {
                            padding-left: $value !important;
                            padding-right: $value !important;
                        }
                        // py-[0-12]
                        @else if $direction == 'y' {
                            padding-top: $value !important;
                            padding-bottom: $value !important;
                        }
                        // pa-[0-12]
                        @else if $direction == 'a' {
                            padding: $value !important;
                        }
                    }
                    // margins
                    @else {
                        // mt-[0-12]
                        @if $direction == 't' {
                            margin-top: $value !important;
                        }
                        // mr-[0-12]
                        @else if $direction == 'r' {
                            margin-right: $value !important;
                        }
                        // mb-[0-12]
                        @else if $direction == 'b' {
                            margin-bottom: $value !important;
                        }
                        // ml-[0-12]
                        @else if $direction == 'l' {
                            margin-left: $value !important;
                        }
                        // mx-[0-12]
                        @else if $direction == 'x' {
                            margin-left: $value !important;
                            margin-right: $value !important;
                        }
                        // my-[0-12]
                        @else if $direction == 'y' {
                            margin-top: $value !important;
                            margin-bottom: $value !important;
                        }
                        // ma-[0-12]
                        @else if $direction == 'a' {
                            margin: $value !important;
                        }
                    }
                }
            }
        }
    }
}
