$spacings: (
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
);

$directions: (
    't': top,
    'r': right,
    'b': bottom,
    'l': left,
    'x': (
        'l': left,
        'r': right,
    ),
    'y': (
        't': top,
        'b': bottom,
    ),
    'a': &,
);

$offsets: (
    'm': margin,
    'p': padding,
);

@mixin setDirection($offset, $direction, $space) {
    $delimiter: if($direction, '-', '');
    #{$offset}#{$delimiter}#{$direction}: $space !important;
}

@mixin spacings {
    @each $offsetName, $offset in $offsets {
        @each $spaceName, $space in $spacings {
            @each $dirName, $direction in $directions {
                .#{$offsetName}#{$dirName}-#{$spaceName} {
                    @if type-of($direction) == 'map' {
                        @each $subDirName, $subDir in $direction {
                            @include setDirection($offset, $subDir, $space);
                        }
                    } @else {
                        @include setDirection($offset, $direction, $space);
                    }
                }
            }
        }
    }
}
