$direction: (
    'row': row,
    'column': column,
    'row-reverse': row-reverse,
    'column-reverse': column-reverse,
);

$wrap: (
    'nowrap': nowrap,
    'wrap': wrap,
);

$grow: (
    '1': 1,
    '0': 0,
);

$align-content: (
    'center': center,
    'start': flex-start,
    'end': flex-end,
    'space-around': space-around,
    'space-between': space-between,
    'stretch': stretch,
);

$justify-content: (
    'center': center,
    'start': flex-start,
    'end': flex-end,
    'space-around': space-around,
    'space-between': space-between,
    'space-evenly': space-evenly,
);

$align-items: (
    'center': center,
    'start': flex-start,
    'end': flex-end,
    'stretch': stretch,
    'baseline': baseline,
);

$align-self: (
    'center': center,
    'start': flex-start,
    'end': flex-end,
    'stretch': stretch,
    'baseline': baseline,
);

$gap: (
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
);

$block: (
    '1': 1,
    '1-0': 1 0,
    '1-1': 1 1,
    '1-1-100': 1 1 percentage(1),
    '0-0': 0 0,
    '0-0-100': 0 0 percentage(1),
    '0-1': 0 1,
    '0-1-100': 0 1 percentage(1),
);

@mixin flex-direction {
    @each $key, $value in $direction {
        .flex-#{$key} {
            flex-direction: $value;
        }
    }
}

@mixin flex-wrap {
    @each $key, $value in $wrap {
        .flex-#{$key} {
            flex-wrap: $value;
        }
    }
}

@mixin flex-grow {
    @each $key, $value in $grow {
        .flex-grow-#{$key} {
            flex-grow: $value !important;
        }
    }
}

@mixin flex-align-content {
    @each $key, $value in $align-content {
        .align-content-#{$key} {
            align-content: $value;
        }
    }
}

@mixin flex-justify-content {
    @each $key, $value in $justify-content {
        .justify-#{$key} {
            justify-content: $value;
        }
    }
}

@mixin flex-align-items {
    @each $key, $value in $align-items {
        .align-#{$key} {
            align-items: $value;
        }
    }
}

@mixin flex-align-self {
    @each $key, $value in $align-self {
        .align-self-#{$key} {
            align-self: $value;
        }
    }
}

@mixin flex-gap {
    @each $key, $value in $gap {
        .gap-#{$key} {
            gap: $value;
        }
    }
}

@mixin flex-block {
    @each $key, $value in $block {
        .flex-#{$key} {
            flex: $value !important;
        }
    }
}
