$app-background: rgba(57, 59, 64, 1);
$app-background-secondary: rgba(44, 46, 53, 1);
$app-background-light: #5b5c62;
$app-background-lighten: #9d9ea1;
$app-background-disabled: #3e3f45;
$app-color: rgba(250, 250, 250, 1);
$error: #d64d4d;
$error-hover: #a83a3a;
$success: #42d392;
$info: #647eff;
$warning: #f38b01;
$background-primary: -webkit-linear-gradient(315deg, $success 25%, $info);
